$width: 250px;

#root {
  padding: 20px;
}

.parent {
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  width: calc(100vw - 40px);
}

.card {
  height: 100%;
  width: $width;
  border-radius: 12px;
  position: absolute;
  top: 0;

  &.one {
    background-color: purple;
  }

  &.two {
    background-color: orangered;
  }

  &.three {
    background-color: teal;
  }

  &.four {
    background-color: green;
  }

  &.five {
    background-color: olive;
  }
}

.buttonContainer {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
